<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">

  <!-- Bootstrap CDN -->
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <!-- CSS Stylesheet -->
  <link rel="stylesheet" href="/css/styles.css">

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand titlePadding" href="/">
        <img src="/images/johncaneroLogoVector.png" alt="johncaneroLogo" class="d-inline-block align-text-top johncaneroLogo">
        <span class="fw-semibold">DAILY JOURNAL</span>
      </a>
      <!-- #Research fir Toggle (Not Working: Mobile) -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse titlePadding2" id="navbarNav">
        <!-- Requirement SaSS Language to change color -->
        <ul class="navbar-nav ms-auto nav-justified">
          <li class="nav-item mx-3">
            <a class="nav-link fw-normal active" href="/">HOME</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link fw-normal active" href="/about">ABOUT</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link fw-normal active" href="/contact">CONTACT ME</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>  
  <body>
    <div class="container">
