<%- include("partials/header") %>

<div class="justifyContent">
  <div>
    <h1>Contact</h1>
  </div>

  <!-- include startingContent -->
  <p><%= contactContent %></p>
</div>

<div class="flex-container1">
    <a href="https://johncanero.github.io/JamWebsite/index.html" target="_blank">
        <img class="johncaneroContact" src="images/johncaneroContact.png" alt="johncaneroContact.png">
    </a>
</div>


<%- include("partials/footer") %>
